@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Ata Yiğit Edeer</h1>
    <p><a href="https://github.com/atayigit12/CTIS479">My First MVC Web Application</a>.</p>
</div>